[submodule "twitnotify"]
	path = twitnotify
	url = https://github.com/alphaKAI/twitnotify
[submodule "streamFilter"]
	path = streamFilter
	url = https://github.com/alphaKAI/streamFilter
[submodule "doco"]
	path = doco
	url = https://github.com/alphaKAI/doco
[submodule "dww"]
	path = dww
	url = https://github.com/alphaKAI/dww
[submodule "ctwi"]
	path = ctwi
	url = https://github.com/alphaKAI/ctwi
[submodule "ctl"]
	path = ctl
	url = https://github.com/alphaKAI/ctl
